<div class="col-md-3 col-lg-2 p-0">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">

            <h2 class="accordion-header">
                <button class="accordion-button collapsed">
                    <a class="link-underline-light text-black" href="/admin/dashboard">首页</a>
                </button>
            </h2>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    权限管理
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample1">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/admin/users">用户管理</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/admin/roles">角色管理</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/admin/accesses">资源管理</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    内容管理
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/admin/tags">标签管理</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/admin/articles">文章管理</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/admin/categories">分类管理</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    设置
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/admin/settings">网站设置</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>