<h1>{{#if tag.id}}编辑标签{{else}}添加标签{{/if}}</h1>
<form action="/admin/tags{{#if tag.id}}/{{tag.id}}{{/if}}" method="POST">
    {{#if tag.id}}<input type="hidden" name="_method" value="PUT">{{/if}}
    <div class="mb-3">
        <label for="name" class="form-label">名称</label>
        <input type="text" class="form-control" id="name" name="name" value="{{tag.name}}">
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">状态</label>
        <select class="form-control" id="status" name="status">
            <option value="1" {{#if tag.status}}selected{{/if}}>激活</option>
            <option value="0" {{#unless tag.status}}selected{{/unless}}>未激活</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="sort" class="form-label">排序</label>
        <input type="number" class="form-control" id="sort" name="sort" value="{{tag.sort}}">
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
</form>