<h1>
    分类详情
</h1>
<div class="mb-3">
    <label class="form-label">名称:</label>
    <p class="form-control-plaintext">{{category.name}}</p>
</div>
<div class="mb-3">
    <label class="form-label">状态:</label>
    <p class="form-control-plaintext">{{category.status_text}}</p>
</div>
<div class="mb-3">
    <label class="form-label">排序:</label>
    <p class="form-control-plaintext">{{category.sort}}</p>
</div>
<a href="/admin/categories/edit/{{category.id}}"
    class="btn btn-warning btn-sm">修改</a>
<a href="/admin/categories" class="btn btn-secondary btn-sm">返回列表</a>