<h1>角色详情</h1>
<div class="mb-3">
    <label class="form-label">名称:</label>
    <p class="form-control-plaintext">{{role.name}}</p>
</div>

<div class="mb-3">
    <label class="form-label">状态:</label>
    <p class="form-control-plaintext">{{role.status_text}}</p>
</div>
<div class="mb-3">
    <label class="form-label">排序:</label>
    <p class="form-control-plaintext">{{role.sort}}</p>
</div>

<a href="/admin/roles/edit/{{role.id}}" class="btn btn-warning btn-sm">修改</a>
<a href="/admin/roles" class="btn btn-secondary btn-sm">返回列表</a>